<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Employee</title>

    <link rel="icon" href="/assets/favicon.png" type="image/x-icon">
    <style>
        body {
            font-family: monospace;
        }
    </style>
</head>
<body>

<section>
    <div class="__wrapper">
        <div id="app">
            <time-table
                    year="{{ year }}"
                    month="{{ month }}"
                    employee="{{{json employee }}}"
                    timestamps="{{{json timestamps }}}"
            ></time-table>
        </div>
    </div>
</section>

<script src="https://rawgit.com/SimoneS93/Cartellini/master/dist/app.js"></script>
</body>
</html>